<div {{ this.bbcontent(null, {'class': 'alert alert-info'})|raw }}>
    <h1>Welcome to BackBee</h1>

    {% if bb.token == null %}
        <p>To connect to the backend, please press CTRL + ALT + B to show the login dialog. Note that we created a super admin user for you with login and password.</p>
    {% else %}
        <p>You are now connected to your account. Use the toolbar to add, remove and edit content block.</p>

        <p>Enjoy</p>
    {% endif %}
</div>
